<li class="<% if deliverable.complete? %>complete<% end %>">
	<%= check_box_tag 'deliverable_ids[]', deliverable.id %>
	<%= link_to deliverable.name, client_project_deliverable_path(Project.find_by(deliverable.project_id).client_id, deliverable.project_id, deliverable) %>
	<% if deliverable.complete? %>| Received: <%= deliverable.completed_date.strftime('%m/%d/%Y') %><% end %>
</li>