<div class="span2 <% if milestone.complete? %>complete<% end %>">
	<div class="milestone">

		<p class="ms-name"><%= link_to milestone.name, client_project_milestone_path(Project.find_by(milestone.project_id).client_id, milestone.project_id, milestone) %></p>
		<% if milestone.estimated_date? %>
			<p class="ms-date"><%= milestone.estimated_date.strftime('%m/%d/%Y') %></p>
			<% if !milestone.complete %>
				<p class="ms-deadline">
				<% if milestone.estimated_date >= DateTime.now %>Upcoming: 
				<% else %>Overdue: 
				<% end %>
				<%= distance_of_time_in_words_to_now(milestone.estimated_date) %>
				</p>
			<% end %>
		<% end %>
		<p class="client-button"><%= link_to "Mark Complete", complete_client_project_milestones_path(Project.find_by(milestone.project_id).client_id, milestone.project_id, :id => milestone.id), method: :post %></p>

	</div>
</div>