<% provide(:title, @project.name + ' Milestones') %>
<h1><%= @project.name %> Milestones</h1>

<ul class="milestones">
	<%= render @milestones %>
</ul>

<%= calendar Milestone.find_by(:project_id, @project.id) do |milestone| %>
            <div><%= link_to milestone.name, milestone %></div>
        <% end %>