<% provide(:title, @milestone.name) %>
<div class="row">
  
  <div class="span12">
  	<section>
  		<h1><%= @milestone.name %></h1>

  		<p><%= @milestone.project_id %></p>
  		<p><%= @milestone.deadline %></p>
  	</section>
    
  </div>
</div>