<span class="milestone-name"><%= link_to milestone.name, project_milestone_path(milestone.project_id,  milestone) %></span>

<% if milestone.end_date? %>
	<span class="milestone-info">
		| Expected due date: <%= milestone.end_date.strftime('%m/%d/%Y') %> |
		<% if milestone.end_date >= DateTime.now %>Upcoming: 
		<% else %>Overdue: 
		<% end %>
		<strong><%= distance_of_time_in_words_to_now(milestone.end_date) %></strong>
	</span>
<% end %>


