<div class="row client">
	<h2><%= link_to client.name, client %> 
		<span class="small-link"> | <%= link_to "New Milestone", new_client_project_path(:client_id => client.id), class: "client-button" %></span>
	</h2>
	
	<div class="projects">
	    <%= render client.projects.order(:end_date) %>
	</div>
	
</div>