<% provide(:title, 'CivPM') %>
<% if signed_in? %>
	
    <%= render @clients %>

	<%= will_paginate %>

<% else %>
    <div class="center hero-unit">
        <h1>Civilization</h1>

        <h2>Project Management</h2>

        <p>Log in and do stuff.</p>

        <%= link_to "Come inside", signin_path,
                                class: "btn btn-large btn-primary" %>
    </div>

<% end %>