<% provide(:title, @client.name) %>
<div class="row">
  
    <div class="span12">
        <section>
  		    <h1><%= @client.name %></h1>

          <%= link_to "delete", @client,
                    method: :delete, 
                    data: { confirm: "You sure?" }, 
                    title: @client.name %>

  		    <!-- <p><%= Faker::Lorem.sentence(10) %></p> -->

  		    <h3>Projects</h3>
  		    <ul class="projects">
                <%= render @projects %>
            </ul>
        </section>
    
  </div>
</div>