<li>
	<h3><%= link_to project.name, project %> <span class="small-link"> | <%= link_to "New Milestone", new_project_milestone_path(project) %></span></h3>
	<!--  | <%= link_to("View Project Milestones", project_milestones_path(project)) %> -->
	<ul class="milestones">
	    <%= render project.milestones %>
	</ul>
</li>