<div class="row project">
	<h2><%= link_to project.name, project %> 
		<span class="small-link"> | <%= link_to "New Milestone", new_project_milestone_path(:project_id => project.id), class: "project-button" %></span>
	</h2>
	
	<div class="milestones">
	    <%= render project.milestones.order(:end_date) %>
	</div>
	
</div>