<li>
	<h3><%= link_to project.name, project %> 
		<span class="small-link"> | <%= link_to "New Milestone", new_milestone_path, class: "project-button" %></span>
	</h3>
	<ul class="milestones">
	    <%= render project.milestones.order(:end) %>
	</ul>
</li>