<% provide(:title, 'All Projects') %>
<% if signed_in? %>
	<h1>All Projects <span class="small-link"> | <%= link_to "New Project", new_project_path %></span></h1>

	<ul class="projects">
		<%= render @projects %>
	</ul>

	<%= will_paginate %>
<% else %>
    <div class="center hero-unit">
        <h1>Civilization</h1>

        <h2>Project Management</h2>

        <p>Log in and do stuff.</p>

        <%= link_to "Come inside", signin_path,
                                class: "btn btn-large btn-primary" %>
    </div>

<% end %>