@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$darkText: #333333;

@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* universal */

html {
    overflow-y: scroll;
}

body {
    /*padding-top: 60px;*/
    font-size: 0.8em;
}

header {
    padding: 20px 0 40px 0;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
    h1 {
        margin-bottom: 10px;
    }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

h1 {
    font-size: 3em;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
    margin: 0;
}

a { 
    color: $darkText;
}

ul {
    margin: 0;
}

/* forms */

form {
    margin: 0;
}

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    @include box_sizing;
}

input {
    height: auto !important;
}

.client-button {
    background: none;
    font-size: 10px;
    font-style: italic;
    margin-top: 10px;
}

#error_explanation {
    color: #f00;
    ul {
      list-style: none;
      margin: 0 0 18px 0;
    }
}

.field_with_errors {
    @extend .control-group;
    @extend .error;
}


/* header */

ul.topnav {
    float: right;
    list-style: none;
    li {
        padding: 0 4px;
        float: left;
        a {

        }
    }

}

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 9px;
    font-weight: bold;
    line-height: 1;
    &:hover {
      text-decoration: none;
    }
}

/* sidebar */

aside {
    section {
        padding: 10px 0;
        border-top: 1px solid $grayLighter;
        &:first-child {
            border: 0;
            padding-top: 0;
        }
        span {
            display: block;
            margin-bottom: 3px;
            line-height: 1;
        }
        h1 {
            font-size: 1.4em;
            text-align: left;
            letter-spacing: -1px;
            margin-bottom: 3px;
            margin-top: 0px;
        }
    }
}

/* footer */

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid $grayMediumLight;
    color: $grayLight;
    a {
        color: $gray;
        &:hover {
            color: $grayDarker;
        }
    }
    small {
        float: left;
    }
    ul {
        float: right;
        list-style: none;
        li {
            float: left;
            margin-left: 10px;
        }
    }
}

/* miscellaneous */

.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
}

/* Users */

.users {
    list-style: none;
    margin: 0;
    li {
        overflow: auto;
        padding: 10px 0;
        border-top: 1px solid $grayLighter;
        &:last-child {
            border-bottom: 1px solid $grayLighter;
        }
    }
}

.project {
    margin-bottom: 20px; 
    /*margin-left: 0;*/

    border-top: 1px solid #666;

    &:first {
        border-top: none;
    }
}

ul.assets, ul.deliverables {
    list-style: none;
    margin-left: 20px;
    li {
        font-size: 12px;
        overflow: auto;
        border-top: 1px solid $grayLighter;

        &:last-child {
            border-bottom: 1px solid $grayLighter;
        }

        
    }
}

.milestone {
    padding: 10px 0;

    p.ms-name {
        font-size: 0.9em;
        font-weight: 600;
        line-height: 12px;
        padding: 0 0 6px 0;
    }

    p.ms-date {
        font-size: 0.9em;
    }

    p.ms-deadline {
        font-size: 0.8em;
        font-style: italic;
    }
}

.complete, .received {
    text-decoration: line-through;
}

.phases { 
    padding: 10px 0;
    li {
        &.active {
            font-style: italic;
        }
        a {
            font-size: 16px;
            font-weight: 700;
            padding: 4px 10px;
            text-align: center;
            border: 1px solid gray;
            &:hover {
                background: none;
            }
        }
    }
}

.utility-nav {
    font-size: 12px;
    float: right;
    line-height: 34px;
}



/* calendar */

.calendar td { height: 100px; width: 14.28%; }

