<footer class="footer">
  <small>
    Civilization Project Management v 0.1
  </small>
  <!-- <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="#">News</a></li>
    </ul>
  </nav> -->
</footer>